.chatWindow {
  width: rem(300px);

  position: fixed;
  bottom: 120px;
  right: 40px;
}

.chatWindowHeader {
  background-color: aqua;
  text-align: left;
  padding: 10px;
}

.scrollArea {
  height: rem(350px);
}

.msgBubble {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.flexContainer {
  display: flex;
  align-items: center;
}

.textInput {
  flex-grow: 1;
}

.sendMessageButton {
  background-color: #4caf50;
}
