.popupMessageRoot {
  font-size: var(--mantine-base-font-size);
  position: fixed;
  bottom: em(120px);
  right: em(30px);
  z-index: 9999;

  max-width: 20%;
  padding: em(12px);
  background-color: var(--mantine-yellow-soft);
}

@media screen and (max-width: 992px) {
  .popupMessageRoot {
    bottom: em(110px);
    right: em(25px);
    max-width: 30%;
  }
}

@media screen and (max-width: 600px) {
  .popupMessageRoot {
    bottom: em(110px);
    right: em(25px);
    max-width: 50%;
  }
}

.popupMessageMessage {
  font-size: em(14px);
  color: var(--mantine-text-color);
}
