.popupMessageRoot {
  position: fixed;
  bottom: em(120px);
  right: em(30px);

  max-width: 20%;
  padding: em(12px);
  background-color: var(--mantine-yellow-soft);
}

.popupMessageMessage {
  color: var(--mantine-text-color);
}
