.helperTextRoot {
  position: sticky;
  background-color: #fff;
  z-index: 1;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
  padding: em(10px);
}

.helperTextMessage {
  color: var(--mantine-text-color);
  font-size: em(12px);
  text-align: center;
}
