/* ====== MODAL (reload button) ======= */

.modalOverlay {
  position: absolute;
}

.modalContent {
  max-width: fit-content;
}

.modalInner {
  position: absolute;
  padding-inline: 0 !important;
}

.modalButtons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.btnLabel {
  overflow: visible;
}
