/* ====== MODAL (reload button) ======= */

.modalOverlay {
  position: absolute;
  padding-inline: 0;
}

.modalInner {
  position: absolute;
}

.modalButtons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.btnLabel {
  overflow: visible;
}
