:root {
  --strong-blue: rgba(7, 151, 255, 1);
  --light-blue: rgba(102, 191, 255, 0.51);
  --chat-icon: rgba(102, 191, 255, 0.83);
  --header: rgba(182, 224, 255, 1);
  --button: rgba(7, 151, 255, 1);
  --send-button: rgba(75, 180, 255, 1);
  --light-yellow: rgba(246, 218, 94, 0.51);
  --strong-yellow: rgba(246, 218, 94, 1);
  --white: rgba(255, 255, 255, 1);
}

.breakpoints {
  @media (max-width: $mantine-breakpoint-xs) {
    background-color: red;
  }
}
