.chatIcon {
  cursor: pointer;
  border: unset;
  background: none;

  position: fixed;
  bottom: 40px;
  right: 30px;

  background-color: var(--chat-icon);
  width: rem(60px);
  height: rem(60px);
  border-radius: 50%;
  padding-top: 8px;
  border: 3px solid var(--strong-yellow);
}

.chatIcon svg {
  width: rem(35px);
  height: rem(35px);
}

.chatIcon svg :global(.chat-icon-bg) {
  fill-rule: evenodd;
  fill: var(--white);
}

.chatIcon svg :global(.dot) {
  fill: var(--white);
}

.chatIcon:hover svg :global(.chat-icon-bg) {
  fill-rule: nonzero;
}

.chatIcon:hover svg :global(.dot) {
  fill: var(--chat-icon);
}
