.chatIcon {
  font-size: 16px; /* Base font size */
  cursor: pointer;
  border: unset;
  background: none;

  position: fixed;
  bottom: em(40px);
  right: em(30px);

  background-color: var(--mantine-color-white);

  width: em(55px);
  height: em(55px);
  border-radius: 50%;
  box-shadow: 0 0 em(10px) em(5px) var(--mantine-yellow-vivid);
  -webkit-animation: glowing 5s infinite;
  -moz-animation: glowing 5s infinite;
  animation: glowing 5s infinite;

  /* make svg center of button  */
  display: grid;
  place-content: center;
}

@-webkit-keyframes glowing {
  0% {
    -webkit-box-shadow: 0 0 em(10px) em(5px) var(--mantine-yellow-soft);
  }
  50% {
    -webkit-box-shadow: 0 0 em(40px) em(5px) var(--mantine-yellow-vivid);
  }
  100% {
    -webkit-box-shadow: 0 0 em(10px) em(5px) var(--mantine-yellow-soft);
  }
}

@-moz-keyframes glowing {
  0% {
    -moz-box-shadow: 0 0 em(10px) em(5px) var(--mantine-yellow-soft);
  }
  50% {
    -moz-box-shadow: 0 0 em(40px) em(5px) var(--mantine-yellow-vivid);
  }
  100% {
    -moz-box-shadow: 0 0 em(10px) em(5px) var(--mantine-yellow-soft);
  }
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 em(10px) em(5px) var(--mantine-yellow-soft);
  }
  50% {
    box-shadow: 0 0 em(40px) em(5px) var(--mantine-yellow-vivid);
  }
  100% {
    box-shadow: 0 0 em(10px) em(5px) var(--mantine-yellow-soft);
  }
}

.chatIcon svg {
  width: em(35px);
  height: em(35px);
}

.chatIcon svg :global(.chat-icon-bg) {
  fill-rule: evenodd;
  fill: var(--mantine-blue-active);
}

.chatIcon svg :global(.dot) {
  fill: var(--mantine-blue-active);
}

/* HOVER STATE */
/* use @media (hover: hover) because on mobile like iOS, the chatIcon remains hover's color after user click on it*/
@media (hover: hover) {
  .chatIcon:hover {
    background-color: var(--mantine-blue-soft);
  }

  .chatIcon:hover svg :global(.chat-icon-bg) {
    fill-rule: nonzero;
    fill: var(--mantine-color-white);
  }

  .chatIcon:hover svg :global(.dot) {
    fill: var(--mantine-blue-soft);
  }
}

/* ACTIVE STATE */
.chatIcon:active {
  background-color: var(--mantine-blue-medium);
}

.chatIcon:active svg :global(.dot) {
  fill: var(--mantine-blue-medium);
}

@media screen and (max-width: 480px) {
  .chatIcon {
    bottom: em(20px);
    right: em(20px);
    width: em(50px);
    height: em(50px);
  }

  .chatIcon svg {
    width: em(30px);
    height: em(30px);
  }
}
